.bubble-enter-active{
  transition: all 0.25s linear;
  &.loader-wrapper{
    transition: all 0.5s linear;
  }
}
.bubble-leave-active {
  &.loader-wrapper{
    opacity: 1;
    transition: all 0.5s linear;
  }
}
.bubble-enter-from{
  opacity: 0;
  transition: all 0.25s linear;
  &.loader-wrapper{
    opacity: 0;
    transition: all 0.5s linear;
  }
}
.bubble-leave-to {
  opacity: 0;
  &.loader-wrapper{
    transition: all 0.5s linear;
    opacity: 0;
  }
}


.animated-total, .animated-modal{
  animation-duration: 2000ms;
  animation-delay: 0ms;
}

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 40px, 0);
    transform: translate3d(0, 40px, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 40px, 0);
    transform: translate3d(0, 40px, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.animate__fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}
