/*--------------------------------------------------------------
# Colors
--------------------------------------------------------------*/
:root{
  --color-blue-dark: #0060AE;
  --color-blue: #0E90FB;
  --color-blue-light: #72A2C9;
  --color-blue-discount: #0500F6;
  --color-gray-light: #DFDFDF;
  --color-gray-dark: #666;
  --color-gray: #CCCCCC;
  --color-gray-opacity: #959595;
  --color-light-gray: #F8F8F8;
  --color-gray-extralight: #f2f7fb;
  --color-white: #FFFFFF;
  --color-predark: #333333;
  --color-black: #000000;
  --color-card-background: #F5F5F5;


  --color-rosy: #EC1944;
  --color-rosy-hover: #D30D36;
  --color-rosy-active: #B60327;
  --color-rosy-disabled: #DFDFDF;
  --color-rosy-error: #c4042b;

  --color-sky: #0E90FB;
  --color-sky-hover: #0479DA;
  --color-sky-active: #03569B;
  --color-sky-disabled: #DFDFDF;

  --color-telegram: #0088CC;
  --color-telegram-hover: #0279B5;
  --color-telegram-active: #046697;

  --menu-background: rgb(0, 0, 0, .3);

  --color-color-label: #0060AE;
  --color-color-label-hover: #014C89;
  --color-color-label-active: #003E70;



  --color-color-fb: #4563a0;
  --color-color-google: #d04531;
  --color-color-orange: #FD6D1B;

}
