/*--------------------------------------------------------------
# Colors
--------------------------------------------------------------*/
:root{
  --color-black: #000000;
  --color-white: #FFFFFF;

  --color-blue: #142DA9;
  --color-light-blue: #2C4BE7;
  --color-dark-blue: #092093;

  --color-opacity-white: rgba(255, 255, 255, .5);
}
