@media (min-width: 1000px) {
  .tablet, .mobile {
    &:not(.desktop){
      display: none !important;
    }
  }
  .container{
    margin: 0 auto;
    width: 100%;
    max-width: 1110px;
  }
}
@media (max-width: 1000px) and (min-width: 660px){
  .desktop, .mobile{
    &:not(.tablet){
      display: none !important;
    }
  }
  .container{
    margin: 0 auto;
    max-width: 728px;
    width: 100%;
  }
}
@media (max-width: 660px){
  .desktop, .tablet{
    &:not(.mobile){
      display: none !important;
    }
  }
  .container{
    max-width: 100%;
    padding-left:15px !important;
    padding-right:15px !important;
  }
  .mobile-nav{
    display: none;
    padding: 23px 0;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    z-index: 999;
    background: var(--color-white);

  }
}
.hidden{
  display: none;
}
.prevent{
  pointer-events: none;
}

//Buttons
.btn-blue{
  padding: 20px 30px;
  background: var(--color-blue);
  border-radius: 20px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  transition: background-color 0.5s, opacity 0.5s;
  &:hover{
    background: var(--color-light-blue);
  }
  &:active{
    background: var(--color-dark-blue);
  }
  &:disabled{
    opacity: .3;
  }
}
.btn-white{
  padding: 20px 30px;
  background: var(--color-white);
  border-radius: 20px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: var(--color-blue);
  transition: background-color 0.5s, opacity 0.5s;
  &:hover{}
  &:active{}
  &:disabled{
    opacity: .3;
  }
}
b, strong{
  font-weight: 700;
}