.animated {
  animation-duration: 0.6s;
  animation-fill-mode: both;
}

.slideInLeft {
  -webkit-animation-name: slideInLeft;
  animation-name: slideInLeft;
}

@-webkit-keyframes slideInLeft {
  0% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}
@keyframes slideInLeft {
  0% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}
.slideInRight {
  -webkit-animation-name: slideInRight;
  animation-name: slideInRight;
}

@-webkit-keyframes slideInRight {
  0% {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}
@keyframes slideInRight {
  0% {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}
.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.slideInDown {
  -webkit-animation-name: slideInDown;
  animation-name: slideInDown;
}

@-webkit-keyframes slideInDown {
  0% {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}
@keyframes slideInDown {
  0% {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}
html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  font-family: "zabal_demo", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: var(--color-white);
}
*:after, *:before {
  position: relative;
}

body {
  background: var(--color-black);
  overflow-x: hidden;
}
body.fixed {
  overflow: hidden;
}

picture, .picture, video, .video {
  display: block;
}

img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

button, .btn {
  background: transparent;
  border: none;
  color: inherit;
  cursor: pointer;
}

ul, menu {
  list-style: none;
}

input:focus {
  outline: none;
}
input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: var(--color-white) !important;
}

.input-hidden {
  position: absolute;
  opacity: 0;
  z-index: -5;
}

a, span {
  display: inline-block;
  text-decoration: unset;
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
}

/*--------------------------------------------------------------
# Colors
--------------------------------------------------------------*/
:root {
  --color-black: #000000;
  --color-white: #FFFFFF;
  --color-blue: #142DA9;
  --color-light-blue: #2C4BE7;
  --color-dark-blue: #092093;
  --color-opacity-white: rgba(255, 255, 255, .5);
}

@media (min-width: 1000px) {
  .tablet:not(.desktop), .mobile:not(.desktop) {
    display: none !important;
  }

  .container {
    margin: 0 auto;
    width: 100%;
    max-width: 1110px;
  }
}
@media (max-width: 1000px) and (min-width: 660px) {
  .desktop:not(.tablet), .mobile:not(.tablet) {
    display: none !important;
  }

  .container {
    margin: 0 auto;
    max-width: 728px;
    width: 100%;
  }
}
@media (max-width: 660px) {
  .desktop:not(.mobile), .tablet:not(.mobile) {
    display: none !important;
  }

  .container {
    max-width: 100%;
    padding-left: 15px !important;
    padding-right: 15px !important;
  }

  .mobile-nav {
    display: none;
    padding: 23px 0;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    z-index: 999;
    background: var(--color-white);
  }
}
.hidden {
  display: none;
}

.prevent {
  pointer-events: none;
}

.btn-blue {
  padding: 20px 30px;
  background: var(--color-blue);
  border-radius: 20px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  transition: background-color 0.5s, opacity 0.5s;
}
.btn-blue:hover {
  background: var(--color-light-blue);
}
.btn-blue:active {
  background: var(--color-dark-blue);
}
.btn-blue:disabled {
  opacity: 0.3;
}

.btn-white {
  padding: 20px 30px;
  background: var(--color-white);
  border-radius: 20px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: var(--color-blue);
  transition: background-color 0.5s, opacity 0.5s;
}
.btn-white:disabled {
  opacity: 0.3;
}

b, strong {
  font-weight: 700;
}

/*# sourceMappingURL=global.css.map */
